 .features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  height:90vh; 
  width: 100%;
} 
/* @media only screen and (max-height: 996px) and (max-width: 997px) {
  .features {

    height:100vh; 

  }
} */

 .featureSvgText {

  font-size: 12px;
}
.featureSvg {
  height: 300px;
  width: 300px;
} 

/* @media only screen and (max-width: 997px) {
  .featureSvg {
    height: 120px;
    width: 120px;
  }
  .featureSvgText {

    font-size: 9px;
  }
}
@media only screen and (max-width: 997px) and (max-height: 760px) {
  .featureSvg {
    height: 100px;
    width: 100px;
  }
  .featureSvgText {

    font-size: 9px;
  }
} */


